<!DOCTYPE html>

<html>
    <head>
        
        <link rel ="stylesheet" href ="\views\hum.css">
        <script src = "weather-app\web-server\page1.js "></script>
    </head>   
        <body>
            <div class = "main-content">
                 {{>header}}
            
            <p> <B>Hello People !! </B> </P>

            <P>I am a sophomore studying node.js </p>
            <P> While building  this weather-app I have studied various features like -</P>
            <ol> 
                <P> 1. using command line arguments by yargs npm</P>
                <P> 2. Weather_API</P>
                <P> 3. Express module</P>
                <P> 4. handlebars and many more....</P>
            </ol>

            </div>
           
            
            {{>footer}}
        </body>
  
</html>