<!DOCTYPE html>

<html>
    <head>
        <link rel ="stylesheet" href ="\views\hum.css">
        <script src = "weather-app\web-server\page1.js "></script>
    </head>
        <body>
            <div class="main-content">

                {{>header}}
            
          
            <p>{{helptext}}</p>
            </div>

            

            {{>footer}}
        </body>
    
</html>