<!DOCTYPE html>

<html>
    <head>
        <link rel ="stylesheet" href ="\views\hum.css"></link>
        
    </head>
        <body>
            <div class="main-content">
                {{>header}}
            
            <p>Use this website to get your weather !</p>

            <form>
                <input placeholder = "Location">
                <button> Search</button>
            </form>


            <p id ="message-1"></p>
            <p id="message-2"></p>

            </div>
            
            

            {{>footer}}

            <script src = "\views\app2.js "></script>
        </body>
    
</html>